body{
    /* background-color: yellow; */
    margin: 50px;
    padding:30px;
    border: 10px;
    border-style: solid;
    
}
p{
    background-color:aquamarine;
    padding: 50px;
    margin: 15px;
    border: 5px;
    border-style: dashed;
}